<div fxLayout="column" fxLayoutAlign="center center" id="layout-container">
  <app-login-or-signup *ngIf="router.url === '/' && !(authState$ | async).isAuthenticated" ></app-login-or-signup>
  <app-action-menu *ngIf="(authState$ | async).isAuthenticated" [@fadeInOut]></app-action-menu>
  <app-login *ngIf="router.url === '/login'" [@fadeInOut]></app-login>
</div>