<mat-card>
  <img mat-card-image src="/assets/login-header.jpg" alt="login-or-signup-header-image">
  <mat-card-actions align="center" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-evenly stretch" fxLayoutAlign.lt-md="stretch stretch">
    <button mat-button class="icon-login" color="primary" disabled><mat-icon aria-label="Email Login Icon">email</mat-icon>Login with Email</button>
    <button mat-button class="icon-login" (click)="googleAuth()"><mat-icon aria-label="Google Login Icon" svgIcon="google"></mat-icon>Login with Google</button>
    <button mat-button class="icon-login" disabled><mat-icon aria-label="Facebook Login Icon" svgIcon="facebook"></mat-icon>Login with Facebook</button>
  </mat-card-actions>
</mat-card>