<h2>Hi {{(user$ | async)?.name}}</h2>
<div fxLayout="row wrap" fxLayout="row wrap"  fxLayoutAlign="space-around space-around">
<mat-card>
    <mat-card-title>Workouts</mat-card-title>
    <mat-card-subtitle>27th June 2018</mat-card-subtitle>
    <img mat-card-image src="/assets/workout.jpg" width="300px" height="200px" alt="main-view-image">
    <mat-card-actions align="center" >
        <button mat-raised-button color="primary" class="action-menu-button" routerLink="/workout/start">Start Workout</button>
      </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>Weight</mat-card-title>
    <mat-card-subtitle>{{weight}}</mat-card-subtitle>
    <img mat-card-image src="/assets/weight.jpg" width="300px" height="200px" alt="main-view-image">
    <mat-card-actions align="center" >
        <button mat-raised-button color="primary"  class="action-menu-button" routerLink="/log-weight">Log Weight</button>
      </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>Exercises</mat-card-title>
    <mat-card-subtitle>17 exercises setup</mat-card-subtitle>
    <img mat-card-image src="/assets/exercise.jpg" width="300px" height="200px" alt="main-view-image">
    <mat-card-actions align="center" >
        <button mat-raised-button color="primary" class="action-menu-button" routerLink="/exercise/manage">Manage Exercises</button>
      </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>Stats</mat-card-title>
    <mat-card-subtitle>1:4, Cardio:Strength</mat-card-subtitle>
    <img mat-card-image src="/assets/stats.png" width="300px" height="200px" alt="main-view-image">
    <mat-card-actions align="center" >
        <button mat-raised-button color="primary" class="action-menu-button" routerLink="/stats/view">View Stats</button>
      </mat-card-actions>
</mat-card>
</div>