// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';

.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 240px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

footer {
  display: none;
  background-color: #3b4045;
  color: #fff;
  padding: 10px;
  font-size: 13px;
}

.content-wrapper {
  overflow-x: auto;
  flex: 1;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.mat-nav-list {
  padding-top: unset;
  .active-link {
    background: mat-color($fitness-accent, 50);
    &.mat-list-item {
      &.mat-list-item-focus {
        background: mat-color($fitness-accent, 50);
      }
    }
  }
}
