<mat-sidenav-container class="sidenav-container" (swipeLeft)="CloseSideNav(true)" (swipeRight)="OpenSideNav(true)" (backdropClick)="CloseSideNav(false)">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset) ? 'dialog' : 'navigation'"
    [mode]="(isHandset) ? 'over' : 'side'"
    [opened]="!(isHandset)"
    [disableClose]="true"
    (keyup.esc)="CloseSideNav(false)"
    >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-list-item routerLink="/log-weight" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Log Weight</a>
      <mat-divider></mat-divider>
      <h3 matSubheader>{{((user$ | async) || {name: 'Guest User'}).name}}</h3>
      <a mat-list-item routerLink="/login" routerLinkActive="active-link" *ngIf='!(authState$ | async).isAuthenticated'>Login</a>
      <a mat-list-item (click)="Logout()" *ngIf='(authState$ | async).isAuthenticated'>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        #openButton
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="OpenSideNav(false)"
        *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="ToggleSideNav(false)"
        *ngIf="!isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fitness Tracker</span>
    </mat-toolbar>
    <div class="content-wrapper"  (swipeLeft)="[]" (swipeRight)="[]" data-mc-options='{ "touchAction": "pan-y" }' >
        <router-outlet></router-outlet>
    </div>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
