table {
    width: calc(100% - 10px);
    margin: 5px;
}

.mat-column-edit {
    width: 48px;
    text-align: center;
    padding-right: unset !important;
    mat-icon {
        color: #666;
        cursor: pointer;
        &:hover {
            color: #222;
        }
    }
}