<table mat-table *ngIf="!loading && !errorMessage" [dataSource]="exercises" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="measurements">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Measurements </th>
    <td mat-cell *matCellDef="let exercise">
      <ng-container *ngFor="let component of exercise.DefaultComponents; index as i">
        <ng-container *ngIf="i !== 0">, </ng-container>
        {{component.Name}}</ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let exercise">
      <button mat-icon-button [matMenuTriggerFor]="options" [matMenuTriggerData]="{uuid: exercise.ExerciseUuid}">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p *ngIf="!loading && errorMessage">{{errorMessage}}</p>
<app-loading *ngIf="loading"></app-loading>
<mat-menu #options="matMenu">
  <ng-template matMenuContent let-uuid="uuid">
    <button mat-menu-item (click)="editExercise(uuid)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item class="warn" (click)="deleteExercise(uuid)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>