<div id="page-content-container">
    <app-exercise-form [exercise]="exercise" *ngIf="!(exerciseState$ | async).saving"></app-exercise-form>
    <app-loading *ngIf="(exerciseState$ | async).saving"></app-loading>
</div>