// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';

:host {
    max-width: 800px;
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.mat-column-delete {
    width: 48px;
    text-align: center;
    padding-right: unset !important;
    mat-icon {
        color: mat-color($fitness-warn);
        cursor: pointer;
        &:hover {
            color: darken(mat-color($fitness-warn), 15%);
        }
    }
}

.mat-column-type {
    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
}

#form-top-row {
    display: flex;
    align-items: center;
}