<mat-card class="mat-elevation-z8" id="exercise-edit-form" [formGroup]="exerciseForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Exercise Name" [required]="required" formControlName="name">
    <mat-error *ngIf="exerciseForm.get('name').errors?.required">Required.</mat-error>
    <mat-error *ngIf="exerciseForm.get('name').errors?.minlength">Minimum Length of 3 required.</mat-error>
  </mat-form-field>
  <div id="form-top-row">
    <span class="">Workout Components</span>
    <div class="filler">

    </div>
    <button mat-button color="primary" id="add-btn" (click)="add()">Add Component</button>
  </div>
  <table mat-table [dataSource]="workoutComponents" formArrayName="components">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let component, let index = index" [formGroupName]="index">
        <input matInput placeholder="Name" formControlName="name" >
        <mat-error *ngIf="component.get('name').errors?.required && (component.get('name').dirty || component.get('name').touched)">Required.</mat-error>
        <mat-error *ngIf="component.get('name').errors?.minlength && (component.get('name').dirty || component.get('name').touched)">Minimum Length of 3 required.</mat-error>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let component, let index = index" [formGroupName]="index">
        <mat-select formControlName="type">
          <mat-option [value]="0">Number</mat-option>
          <mat-option [value]="1">Time</mat-option>
          <mat-option [value]="2">String</mat-option>
          </mat-select>
        </td>
    </ng-container>
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Unit</th>
      <td mat-cell *matCellDef="let component, let index = index" [formGroupName]="index">
        <input matInput [placeholder]="isTimespan(component.get('type').value) ? 'Time' : 'Unit of Measurement'" formControlName="unit">
        <mat-error *ngIf="component.get('unit').errors?.required && (component.get('unit').dirty || component.get('unit').touched)">Required.</mat-error>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let component, let index = index">
        <button mat-icon-button (click)="delete(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!exerciseForm.valid">Save</button>
  </mat-card-actions>
</mat-card>