<mat-card>
  <img mat-card-image src="/assets/login-header.jpg" alt="login-or-signup-header-image">
  <mat-card-actions align="center">
    <button mat-raised-button color="accent" routerLink='login'>Login</button>
    <button mat-raised-button color="primary" routerLink='register' disabled>Register</button>
  </mat-card-actions>
</mat-card>