.error-card {
    max-width: 400px;
    flex: 1 1 auto;
}

#page-content-container {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: flex-start;
    height: 100%;
}