<div id="page-content-container">
    <app-exercise-form [exercise]="(exerciseState$ | async).exercise" *ngIf="(exerciseState$ | async).exercise && !(exerciseState$ | async).loading && !(exerciseState$ | async).saving"></app-exercise-form>
    <mat-card *ngIf="(exerciseState$ | async).errorMessage" class="error-card">
        <mat-card-header>
            <mat-icon mat-card-avatar class="mat-warn">error</mat-icon>
            <mat-card-title>Error</mat-card-title>
            <mat-card-subtitle>Editing Exercise</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{(exerciseState$ | async).errorMessage}}</mat-card-content>
    </mat-card>
    <app-loading *ngIf="(exerciseState$ | async).loading || (exerciseState$ | async).saving"></app-loading>
</div>