// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';


html, body { 
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif
 }

 button {
    text-transform: uppercase;
}

.mat-card-actions {
    margin-right: unset !important;
    margin-left: unset !important;
}

.warn {
    color: mat-color($fitness-warn, 900) !important;
    mat-icon {
        color: mat-color($fitness-warn, 900) !important;
    }
}

.filler {
    flex: 1 1 auto;
    margin: 0px;
}