<div class="easy-number-wrapper">
<button mat-mini-fab color="accent" (click)="decrement()">-</button>
<mat-form-field [formGroup]="easyNumberForm">
  <input placeholder="{{placeholder}}" matInput formControlName="input" [required]="required" type="number" step="0.5" (change)="outputValue()" />
  <mat-error *ngIf="easyNumberForm.get('input').errors?.twoDecimalPlaces && !easyNumberForm.get('input').errors?.min && !easyNumberForm.get('input').errors?.max">Maximum of two decimal places.</mat-error>
  <mat-error *ngIf="easyNumberForm.get('input').errors?.required">Required.</mat-error>
  <mat-error *ngIf="easyNumberForm.get('input').errors?.min">Must be positive.</mat-error>
  <mat-error *ngIf="easyNumberForm.get('input').errors?.max">Must not be greater than 300.</mat-error>
</mat-form-field>
<button mat-mini-fab color="accent" (click)="increment()">+</button>
</div>