<div id="page-content-container">
  <app-list-exercises></app-list-exercises>
  <div id="add-btn-container">
    <button mat-fab color="accent" *ngIf="!loading" id="add-exercise-button" (click)="createExercise()">
      <mat-icon aria-label="add exercise" >{{iconName}}</mat-icon>
    </button>
  </div>
</div>