#page-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}
#add-btn-container {
    flex: 1 0 auto;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    
}

#add-exercise-button {
    flex: 0 0 auto;
    position: absolute;
}