<div fxLayout="row wrap" fxLayoutAlign="space-around space-around">
  <mat-card>
    <div [formGroup]="logWeightForm" >
      <mat-card-title>Log Weight</mat-card-title>
      <app-number-easy-input *ngIf="!(saving$ | async)" placeholder="Weight in kg" required='true' step="0.5" formControlName="weight" [defaultAfterNull]='50'></app-number-easy-input>
      <mat-card-actions fxLayout="column" fxLayoutAlign="stretch stretch" *ngIf="!(saving$ | async)">
        <button mat-raised-button color="primary" (click)="logWeight()">Log Weight</button>
      </mat-card-actions>
      <mat-spinner *ngIf="(saving$ | async)" ></mat-spinner>
    </div>
  </mat-card>
</div>