<div fxLayout="row" fxLayoutAlign="center" fxOffset="20px" id="layout-container">
    <mat-card  id="page-not-found-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>This page isn't available</mat-card-title>
        <mat-card-subtitle>Error: 404</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/404.jpg" alt="404 Error Stop Sign">
      <mat-card-content>
        <p>
          The link you followed may be broken, or the page may have been removed.
        </p>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button color="primary" routerLink=''>Home</button>
      </mat-card-actions>
    </mat-card>
</div>